a { color: #333333; }
a:hover { color: #D4FF90; }
a:visited { color: #505050; }
.smallBullet { color: olive; }

body
	{
	background-color: #990;
	color: #333333;
	}

.reportBody
	{
	background-image: url(olive_stucco.jpg);
	background-color: olive;
	border-color: black;
	}

.pageTitle, .srcIndex
	{
	border-color: olive;
	color: #464600;


	}

.psRecord, .psFRecord, .psMRecord
	{
	border-color: olive;
	}

.psName
	{
	background-color: rgba(130,130,0,0.24);
	}

span.psPicture
	{
	border-color: #CCB053;
	}

.psPicture img, .psNotesData
	{
	border-color: olive;
	}

span.psTitle, span.colFirst
	{
	color: #676700;
	}

.psSpouse
	{
	color: olive;
	}

.psSpousesTitle, .psNotesTitle
	{
	color: #464600;
	}
	
.tocTitle, .tocLinksTitle, .tocIntroTitle, .tocContactTitle, .psFooter
	{
	color: #bcbc00;
	}


.tocTitle, .pageTitle, .tocLinksTitle, .tocIntroTitle, .tocContactTitle
	{
	text-shadow: #888 2px 2px 5px;
	}

	
.psFooter
	{
	font-style: normal;
	}

.tocLinks
	{
	color: #000000;
	}
	
.footerEntry
	{
	color: #bcbc00;
	}

.footerLinks
	{
	border-color: olive;
	}

.footerCreated
	{
	color: #bcbc00;
	}	

.footerCustom
	{
	border-color: olive;
	color: #343400;
	}

.wcHusband, .wcWife, .wcFHusband, .wcMWife,
.wcHFather, .wcHMother, .wcWFather, .wcWMother
	{
	border-color: olive;
	}

.wcHusband, .wcMWife,
.wcHFather, .wcWFather, .wcMChild, .wcMChildBold
	{
	background-color: #c1cddb;
	}

.wcWife, .wcFHusband,
.wcHMother, .wcWMother, .wcFChild, .wcFChildBold
	{
	background-color: #eec3c0;
	}

.wcChild, .wcChildBold
	{
	background-color: #aaa;	
	}

.wcMarriage
	{
	color: #d9d900;
	}

.wcSource
	{
	color: #333333;
	}
	
.wcFacts
	{
	color: #1b1b1b;
	}

.wcFactTitle
	{
	color: #585800;
	border-right-color: olive;
	}
	
.wcHFacts, .wcWFacts, .wcFactsRecord
	{
	border-color: olive;
	}
	
.wcFactPicture img
	{
	border-color: #a7a7a7;
	background: rgba(130,130,0,0.14);
	}

.wcChildenTitle
	{
	color: #d9d900;
	border-color: #CCB053;
	}

.wcChild, .wcChildBold,
.wcMChild, .wcMChildBold,
.wcFChild, .wcFChildBold
	{
	border-color: olive;
	}

.idxSur
	{
	border-color: #5a5a5a;
	color: #404000;
	}

.idxBar, .sur, .rrNav
	{
	border-color: olive;
	background-color: rgba(130,130,0,0.24);
	}

.rrFamilyOf
	{
	border-color: olive;
	}

.rrSourceData
	{
	border-color: rgba(126,128,15,0.45);
	}

.rrNameNumber
	{
	color: #215335;
	}

.rrNameName, .rrSpouseName
	{
	color: #3d3d00;
	background-color: rgba(126,128,15,0.12);
	}
	
.rrChildren
	{
	background-color: rgba(126,128,15,0.12);
	}

.rrChildNumber
	{
	color: #215335;
	}

.wmTOCEntry, .wmRelatedRecord
	{
	background-color: rgba(130,130,0,0.24);
	}

.wmItemTitleData
	{
	color: #cfcf00;
	}

.srcNumber
	{
	color: #626300;
	}
	
.srcEntry
	{
	border-color: olive;
	}

.fhNumber
	{
	color: #b1cca2;
	}

.fhName
	{
	border-color: olive;
	color: #d1d000;
	}

.fhNotesData
	{
	border-color: olive;
	}

.psChildren
	{
	background-color: rgba(132,132,0,0.1);
	}
	
/* pedigree chart colors */
.box
	{
	border-color: #888;
 	background-position: bottom;
	}

.connect
	{
	border-color: gray;
	}
	
.showSC
	{
	color: black;
	background-color: white;
	border-color: #888;
	}
	
.scView
	{
	color: black;
	background-color: white;
	border-color: #888;
	}
