a img {	border-style: none; margin: 0 3px; }

a
	{
	text-decoration: none;
	}
	
a:hover
	{
	text-decoration: underline;
	}

.pageBody
	{
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	width: 800px;
	text-align: center;
	}

.reportBody
	{
	padding: 10px;
	border: 3px double;
	margin-bottom: 0.5em;
	
	-moz-border-radius: 4px;
       -webkit-border-radius: 4px;
       -khtml-border-radius: 4px;
    border-radius: 4px;
	}
	
.pageTitle
	{
	margin-bottom: 5px;
	}

.wcFathers, .wcMothers
	{
	clear: both;
	}

.wcHFather, .wcHMother
	{
	float: left;
	}

.wcWFather, .wcWMother
	{
	float: right;
	}
	
.wcHFather, .wcHMother, .wcWFather, .wcWMother
	{
	min-height: 2.5em;
	width: 47%;
	margin-bottom: 2px;
	padding: 3px;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother,
.wcHusband, .wcWife, .wcFHusband, .wcMWife,
.wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold
	{
	border: 1px solid;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother,
.wcHusband, .wcWife, .wcFHusband, .wcMWife,
.wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold
	{
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	}

.wcParentDate, .wcMChild, .wcFChild, .wcChild
	{
	display: block;
	}

.wcParentName
	{
	margin-right: .4em;
	display: block;
	}

.wcMarriage
	{
	clear: both;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: .3em;
	padding: 3px;
	}
			
.wcSource
	{
	font-size: 1.2em;
	font-weight: bold;
	}

.wcWifeWrapper,.wcHusbandWrapper
	{
	min-height: 25px;	
	}
	
.wcHusband, .wcWife, .wcFHusband, .wcMWife,
	{
	width: 47%;
	padding: 3px;
	margin-bottom: 3px;
	}
	
.wcHusband, .wcFHusband
	{
	float: left;
	}
	
.wcWife, .wcMWife
	{
	float: right;
	}
	
.wcFacts
	{
	font-size: 0.9em;
	clear: both;
	}
	
.wcHFacts
	{
	float: left;
	}
	
.wcWFacts
	{
	float: right;
	}
	
.wcHFacts, .wcWFacts
	{
	min-height: 100px;
	width: 47.2%;	
	margin-bottom: .4em;
	border: 3px double;
	}

.wcFactPicture img
	{
	float: right;
	height: 110px;
	width: auto;
	margin: 0px;
	-moz-box-shadow: -1px 1px 7px 1px #9b9b9b;
	-webkit-box-shadow: -1px 1px 7px 1px #9b9b9b;
	box-shadow: -1px 1px 7px 1px #9b9b9b;
	}

.wcFactsRecord
	{
	text-align: left;
	padding: 2px;
	border-bottom: 1px solid;
	}
	
.wcHFactsWrapper, .wcWFactsWrapper,
	{
	min-height: 300px;
	}
	
.wcFacts
	{
	font-size: 0.9em;
	width: 100%;
	}

.wcFactTitle
	{
	display: table-cell;
	width: 2.4em;
	font-weight: bold;
	text-align: right;
	}
		
.wcFactData
	{
	display: table-cell;
	padding-left: 5px;
	}
	
.wcSpouses
	{
	clear: both;
	}

.wcSpousesTitle
	{
	font-weight: bold;
	}

.wcSpousesData
	{
	font-size: 1.1em;
	}
	
.wcHSpousesWrapper, .wcWSpousesWrapper
	{
	width: 47%;
	padding: 0px 6px 3px 3px;
	}

.wcHSpousesWrapper
	{
	float: left;
	text-align: left;
	}
	
.wcWSpousesWrapper
	{
	float: right;
	text-align: right;
	}
	
.wcChildrenTitle
	{
	font-size: 1.2em;
	font-weight: bold;
	}

.wcNotSplit
	{
	clear: both;
	width: 80%;
	margin: auto;
	}

.wcChild, .wcFChild, .wcMChild,
.wcChildBold, .wcFChildBold, .wcMChildBold
	{
	padding-top: 0.6em;	
	padding-bottom: 0.5em;
	margin-bottom: 1px;
	}

.wcChildBold, .wcFChildBold, .wcMChildBold
	{
	font-weight: bold;
	}

.wcChildren
	{
	padding: 3px;
	}
		
.wcChildDate, .wcChildStatus
	{
	/*****
	To show dates and status on multiple lines change the
	display from span to block

	display: block;
	-----------------
	To show dates and status on a single line use margin-left to
	add a space between the words
	
	margin-left: 0.2em;
	*****/

	margin-left: 3px;
	font-size: 0.9em;
	}

	